<div class="ion-padding text-content" slot="content">
  <ion-buttons>
    <ion-button size="large" color="primary" (click)="dismiss()">Cerrar</ion-button>
  </ion-buttons>
  <h2>Aviso de Privacidad</h2>
  <p>
    Aviso de Privacidad
Última actualización: 29 / 11 / 2024

Instrumaster, desarrollada por Derek Rodrigo Bibiano Rodriguez, se compromete a proteger la privacidad de sus usuarios. Este aviso explica cómo recopilamos, usamos, y protegemos tus datos personales.

1. Información que recopilamos
Recopilamos los siguientes datos personales, dependiendo de las funcionalidades que utilices:

Información de registro: Correo electrónico, contraseña.
Información de uso: Datos de interacción con la aplicación, como canciones guardadas o configuraciones.
Información técnica: Dirección IP, tipo de dispositivo, sistema operativo, navegador y configuraciones de idioma.
Notificaciones push: Podemos enviar notificaciones relacionadas con nuevas canciones o alertas importantes.
2. Finalidad de los datos
Utilizamos tus datos para:
Proveer y mejorar la funcionalidad de la aplicación.
Enviar notificaciones relacionadas con las canciones nuevas en Firebase.
Guardar canciones favoritas para acceso sin conexión.
Cumplir con requisitos legales y de seguridad.
3. Compartición de datos
No compartimos tu información personal con terceros, salvo en los siguientes casos:
Proveedores de servicios: Firebase para almacenamiento, autenticación y notificaciones.
Cumplimiento legal: Si es requerido por ley o para proteger nuestros derechos.
4. Almacenamiento y seguridad
Tus datos están almacenados en Firebase y protegidos con medidas técnicas adecuadas, incluyendo:
Cifrado durante la transmisión (HTTPS).
Autenticación segura mediante Firebase Authentication.
5. Derechos de los usuarios
Tienes derecho a:
Acceder, actualizar o eliminar tus datos personales.
Revocar tu consentimiento para recibir notificaciones.
Presentar una queja ante una autoridad de protección de datos si consideras que no cumplimos con la normativa aplicable.
6. Uso de cookies y tecnologías similares
Nuestra aplicación puede usar tecnologías como cookies para mejorar tu experiencia. Estas tecnologías recopilan información sobre tu interacción con la aplicación.
7. Cambios al aviso de privacidad
Nos reservamos el derecho de actualizar este aviso de privacidad. Notificaremos cualquier cambio significativo mediante una alerta en la aplicación o un correo electrónico.
8. Contacto
Si tienes preguntas o inquietudes sobre este aviso de privacidad, puedes contactarnos en:
Correo electrónico: rodriguezderobiro gmail.com
Teléfono: 4493959295 

  </p>

</div>
  