<ion-content scroll-y="false">
  <ion-grid class="center-content">
    <ion-card>
      <ion-card-header>

        <!-- Toggle para cambiar entre Login y Register -->
        <ion-segment [(ngModel)]="authMode">
          <ion-segment-button value="login">
            <ion-card-subtitle>Login</ion-card-subtitle>
          </ion-segment-button>
          <ion-segment-button value="register">
            <ion-card-subtitle>Registro</ion-card-subtitle>
          </ion-segment-button>
        </ion-segment>
        <img src="../../assets/icon/authlogo.png" alt="">
      </ion-card-header>

        <ion-card-content>
          <!-- Formulario de Login -->
          <form *ngIf="authMode === 'login'" (submit)="login()">
            <ion-list>
              <ion-item lines="none">
                <ion-label position="floating">Email</ion-label>
                <ion-input [(ngModel)]="email" color="primary" type="email" name="email" required></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input [(ngModel)]="password" color="primary" type="password" name="password" required></ion-input>
              </ion-item>
            </ion-list>
            <div class="footer">
              <ion-button type="submit">Ingresar con correo</ion-button>
            </div>
          </form>

            <!-- Formulario de Registro -->
          <form *ngIf="authMode === 'register'" (submit)="register()">
            <ion-list>
              <ion-item lines="none">
                <ion-label position="floating">Email</ion-label>
                <ion-input [(ngModel)]="email" color="primary" type="email" name="email" required></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="floating">Crear nueva contraseña</ion-label>
                <ion-input [(ngModel)]="password" color="primary" type="password" name="password" required></ion-input>
              </ion-item >
              <ion-item lines="none">
                <ion-label position="floating">Confirmar contraseña</ion-label>
                <ion-input [(ngModel)]="passwordConfirm" color="primary" type="password" name="password" required></ion-input>
              </ion-item>
            </ion-list>
            <div class="footer">
              <ion-button type="submit">Registrarse con correo</ion-button>
            </div>
            <ion-item lines="none" >
              <ion-checkbox style="padding-right:20px" [(ngModel)]="acceptPrivacyPolicy" name="acceptPrivacyPolicy" required></ion-checkbox>
              <ion-label>
                Ya leí el 
                <span class="link" (click)="showPrivacyPolicy()">Aviso de Privacidad</span>.
              </ion-label>
            </ion-item>
          </form>          
        </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
