<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar 
      [(ngModel)]="searchTerm" 
      (ionInput)="onSearchChange($event)" 
      debounce="500" 
      placeholder="Busca canciones">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenido">
    <ion-card *ngFor="let file of filteredFiles">
      <ion-card-header>
        <ion-card-title>{{ file.name }}</ion-card-title>
      </ion-card-header>
    
      <ion-accordion-group>
        <ion-accordion (click)="loadFileContent(file.url)">
          <ion-item slot="header" color="light">
            <ion-label>Ver Cancion</ion-label>
          </ion-item>
          <div class="ion-padding text-content" slot="content">
            <p>{{ fileContent }}</p>
          </div>
        </ion-accordion>
      </ion-accordion-group>
  
      <ion-button fill="clear">Guardar</ion-button>
    </ion-card>
  </div>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadFiles($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más canciones...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
