ion-card{

  border-radius: 20px;

}

.contenido{

margin-top: 65px;

}

.text-content p {
    white-space: pre-wrap;
    font-family: monospace; /* Opcional: agrega una fuente monoespaciada */
  }
  