<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Añadir Cancion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item>
      <ion-input type="file" (change)="onFileSelected($event)" accept=".txt"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="onUploadFile()">
    Subir cancion
  </ion-button>
    
  <ion-alert
  trigger="present-alert"
  header="A Short Title Is Best"
  subHeader="A Sub Header Is Optional"
  message="A message should be a short, complete sentence."
  *ngIf="uploadFile"
></ion-alert>

</ion-content>
