ion-content {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 100vh;           /* Asegura que ocupe toda la altura de la ventana */
}

ion-card {
    position: relative;
    width: 80%;
    margin-top: 20%;
    border-radius: 30px;
    height: auto; /* Permite que la altura sea dinámica según el contenido */
    margin: auto;
    padding: 16px;
    display: flex;
    flex-direction: column; /* Alineación vertical de los hijos */
    justify-content: center; /* Centra el contenido verticalmente */
  }

ion-card-content{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido del formulario horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    height: 100%;
    padding-bottom: 80px; /* Deja espacio para los botones */

}  

ion-input{
    margin-top: 30px;
}

.file-upload-label {
    display: inline-block;
    padding: 10px 15px;
    color: #000000;
    background-color: #4d8dff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .file-upload-label:hover {
    background-color: #3171e0;
  }

  .swal-popup {
    z-index: 9999 !important;
  }
  
  ion-item{
    margin-top: 30px; 
    margin-bottom: 30px;
  }

  ion-text {
    display: block;
    width: 85%;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 10px;
    color: #666;
  }
  
  .center-content {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    width: 100%;             /* Asegura que ocupe todo el ancho */
    height: 100%;        
  }